* text=auto !eol
/README.markdown -text
/pom.xml -text
src/main/java/hudson/plugins/depgraph_view/AbstractDependencyGraphAction.java -text
src/main/java/hudson/plugins/depgraph_view/DependencyGraphProjectActionFactory.java -text
src/main/java/hudson/plugins/depgraph_view/DependencyGraphProperty.java -text
src/main/java/hudson/plugins/depgraph_view/DependencyGraphViewActionFactory.java -text
src/main/java/hudson/plugins/depgraph_view/SupportedImageType.java -text
src/main/java/hudson/plugins/depgraph_view/model/display/AbstractDotStringGenerator.java -text
src/main/java/hudson/plugins/depgraph_view/model/display/AbstractGraphStringGenerator.java -text
src/main/java/hudson/plugins/depgraph_view/model/display/DotGeneratorFactory.java -text
src/main/java/hudson/plugins/depgraph_view/model/display/DotStringGenerator.java -text
src/main/java/hudson/plugins/depgraph_view/model/display/GeneratorFactory.java -text
src/main/java/hudson/plugins/depgraph_view/model/display/JsonGeneratorFactory.java -text
src/main/java/hudson/plugins/depgraph_view/model/display/JsonStringGenerator.java -text
src/main/java/hudson/plugins/depgraph_view/model/display/LegendDotStringGenerator.java -text
src/main/java/hudson/plugins/depgraph_view/model/graph/CopyArtifactEdge.java -text
src/main/java/hudson/plugins/depgraph_view/model/graph/CopyArtifactEdgeProvider.java -text
src/main/java/hudson/plugins/depgraph_view/model/graph/DependencyEdge.java -text
src/main/java/hudson/plugins/depgraph_view/model/graph/DependencyGraph.java -text
src/main/java/hudson/plugins/depgraph_view/model/graph/DependencyGraphEdgeProvider.java -text
src/main/java/hudson/plugins/depgraph_view/model/graph/DependencyGraphModule.java -text
src/main/java/hudson/plugins/depgraph_view/model/graph/Edge.java -text
src/main/java/hudson/plugins/depgraph_view/model/graph/EdgeProvider.java -text
src/main/java/hudson/plugins/depgraph_view/model/graph/GraphCalculator.java -text
src/main/java/hudson/plugins/depgraph_view/model/graph/ParameterizedTriggerSubProjectProvider.java -text
src/main/java/hudson/plugins/depgraph_view/model/graph/ProjectNode.java -text
src/main/java/hudson/plugins/depgraph_view/model/graph/SubProjectProvider.java -text
src/main/java/hudson/plugins/depgraph_view/model/graph/SubprojectCalculator.java -text
src/main/java/hudson/plugins/depgraph_view/model/layout/JungSugiyama.java -text
src/main/java/hudson/plugins/depgraph_view/model/operations/DeleteEdgeOperation.java -text
src/main/java/hudson/plugins/depgraph_view/model/operations/EdgeOperation.java -text
src/main/java/hudson/plugins/depgraph_view/model/operations/PutEdgeOperation.java -text
src/main/resources/hudson/plugins/depgraph_view/AbstractDependencyGraphAction/index.jelly -text
src/main/resources/hudson/plugins/depgraph_view/AbstractDependencyGraphAction/index_de.properties -text
src/main/resources/hudson/plugins/depgraph_view/AbstractDependencyGraphAction/jsplumb.jelly -text
src/main/resources/hudson/plugins/depgraph_view/AbstractDependencyGraphAction/sidepanel.jelly -text
src/main/resources/hudson/plugins/depgraph_view/DependencyGraphProperty/global.jelly -text
src/main/resources/hudson/plugins/depgraph_view/DependencyGraphProperty/global.properties -text
src/main/resources/hudson/plugins/depgraph_view/DependencyGraphProperty/global_de.properties -text
src/main/resources/hudson/plugins/depgraph_view/DependencyGraphProperty/help-dotExe.html -text
src/main/resources/hudson/plugins/depgraph_view/DependencyGraphProperty/help-dotExe_de.html -text
src/main/resources/hudson/plugins/depgraph_view/DependencyGraphProperty/help-editFunctionInJSViewEnabled.html -text
src/main/resources/hudson/plugins/depgraph_view/Messages.properties -text
src/main/resources/hudson/plugins/depgraph_view/Messages_de.properties -text
src/main/resources/index.jelly -text
src/main/webapp/css/depview.css -text
src/main/webapp/css/graph.css -text
src/main/webapp/help-globalConfig.html -text
src/main/webapp/js/jquery.jsPlumb-1.4.1-all-min.js -text
src/main/webapp/js/jsPlumb_depview.js -text
src/test/java/hudson/plugins/depgraph_view/model/graph/GraphCalculatorTest.java -text
src/test/java/hudson/plugins/depgraph_view/model/graph/NormalizeTest.java -text
